$color-bg: #f4f4f4;
$color-title: #151515;
$color-paragraph: #222222;

$main-breakpoint: 700px;

@mixin title-style {
    font-size: min(55px, max(3.82vw, 32px));
    line-height: 1.25;
    letter-spacing: -0.5px;
    color: $color-title;
}

@mixin paragraph-style {
    font-size: min(3.75vw, 18px);
    line-height: 1.5;
    color: $color-paragraph;
}