.surface__descr {
    @include paragraph-style;
    margin: 38px 0 80px;
    // width: 100%;
    grid-area: descr;
}

@media screen and (min-width: $main-breakpoint) {
    .surface__descr {
        margin-top: 0;
        margin-bottom: 85px;
        display: block;
        padding-right: 29%;
    }
}