.header__mmbutton {
    width: 25px;
    height: 25px;
    padding: 0;
    background: $color-bg;
    border: none;
}

@media screen and (min-width: $main-breakpoint) {
    .header__mmbutton {
        display: none;
    }
}