.bikes__nav-element {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #151515;
}

@media screen and (min-width: $surface-breakpoint) {
    .bikes__nav-element {
        display: none;
    }
}