.bikes__dropdown-button {
    min-width: 114px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    cursor: pointer;
}