.bikes__dropdown-button {
    margin-left: $mobile-margin;
    min-width: 114px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    cursor: pointer;
}

@media screen and (min-width: $secondary-breakpoint) {
    .bikes__dropdown-button {
        display: none;
    }
}