.mobile-menu__closebtn {
    padding: 0;
    margin: 0;
    align-self: flex-end;
    width: 32px;
    height: 32px;
    border: none;
    background: url('../img/close.svg') center / cover no-repeat;
}