.surface__slider-container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

@media screen and (min-width: $surface-breakpoint) {
    .surface__slider-container {
        margin-left: 8.33%;
    }
}