.page_dark-theme {
    --color-bg: #333;
    --color-title: #fff;
    --color-paragraph: #e5e5e5;
    --color-bg-button: #434343;
    --color-capt-line: #707070;
    --color-bg-footer: #2f2f2f;
    --color-copyright: #565656;
    --card-shadow: none;
}