.page_dark-theme {
    --color-bg: #333;
    --color-title: #fff;
    --color-paragraph: #e5e5e5;
    --color-bg-button: #434343;
    --color-capt-line: #707070;
    --color-bg-footer: #2f2f2f;
    --color-separator: #707070;
    --color-br-input: rgba(125, 125, 125, 0.5);
    --color-br-input-focus: rgb(125, 125, 125);
    --color-copyright: #565656;
    --color-bg-switch: #545454;
    --color-switcher-icon: #676767;
    --color-placeholder: #fff;
    --opacity-hover-header: .6;
    --opacity-hover-bike: .5;
    --opacity-hover-active-bike: .65;
    --opacity-hover-training: .65;
    --card-active-shadow: 0 20px 140px rgba(0, 0, 0, 0.55);
}