.surface__navigation {
    position: absolute;
    top: 34px;
    right: 17px;
    padding-top: 13px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    align-items: center;
}

@media screen and (min-width: $surface-breakpoint) {
    .surface__navigation {
        margin-left: $desktop-margin;
        margin-top: 51px;
        position: static;
        justify-content: flex-start;
        gap: 49px;
    }
}