.training__nav-element {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    color: $color-title;
    text-decoration: none;
}

@media screen and (min-width: $secondary-breakpoint) {
    .training__nav-element {
        font-size: 18px;
    }
}