.footer__input {
    box-sizing: border-box;
    margin-bottom: 87px;
    padding: 2px 0 0 20px;
    width: 100%;
    max-width: 360px;
    min-height: 50px;
    display: flex;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid var(--color-br-input);
    border-radius: 4px;
    background: none;
    outline: none;
}

.footer__input:focus {
    border: 1px solid var(--color-br-input-focus);
}