.bikes__dropdown-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: min-content;
}

@media screen and (min-width: $surface-breakpoint) {
    .bikes__dropdown-container {
        width: 100%;
    }
}
