.bikes__dropdown-list {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: #ebebeb;
    list-style: none;
}
/*
@media screen and (min-width: $surface-breakpoint) {
    .bikes__dropdown-list {
        display: flex;
        width: min-content;
        flex-direction: row;
        gap: 26px;
        top: -83px;
        left: auto;
        right: $desktop-margin;
        background: none;
    }
}
*/